#show-all-btn{
    color: green !important;
    margin-right: 20px;
}

#hidden-all-btn{
    color: green !important;
    margin-right: 20px;
}

#show-detail-btn, #star-detail-btn {
    margin-right: 100px;

}

.hyper-link{
    color: #003399 !important;
}

.filter-address{
    margin-right: 10px;
}

#star-detail-btn{
    float: right;
    margin-right: 20px;
}

#ext-panel{
    width: 980px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.show-btn, .unstar-btn{
    width: fit-content;
}

.hidden-btn{
    width: fit-content;
    position: absolute;
    z-index: 10;
    right: -80px;
    top: 70px;
}

.star-btn{
    width: fit-content;
    position: absolute;
    z-index: 10;
    right: -80px;
    top: 30px;
}

.icon-text-btn{
    display: -webkit-inline-box;
    font-size: initial;
    border: 1px solid #ccc;
    /* margin: 0 0.5em 0.5em 0; */
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    padding: 1px;
    width: 70px;
    cursor: pointer;
    height: 28px;
}

.icon-text-btn:hover {
    background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff); 
    background-image:    -moz-linear-gradient(top, #eeeeee, #ffffff); 
    background-image:     -ms-linear-gradient(top, #eeeeee, #ffffff); 
    background-image:      -o-linear-gradient(top, #eeeeee, #ffffff); 
    background-image:         linear-gradient(top, #eeeeee, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

.icon-text-btn .text-label{
    padding-left: 5px;
    padding-bottom: 0px;
    font-size: small;
    height: 20px;
    line-height: 20px;
}

.text-label{
    padding: 2px 0px 2px 4px;
}

#ext-panel{
    border: 2px groove #ddd;
    padding: 10px 10px;
    background-color: floralwhite;
    border-radius: 5px;
    display: block;
}

#ext-panel-title{
    font-size: initial;
    padding-bottom: 10px;
}

#hidden-detail, #star-detail{
    border: 1px groove #ddd;
    margin: 10px 0px;
    padding: 10px;
}

.show-item, .star-item{
    display: grid;
    grid-template-columns: 80px 32% 50% 15%;
    margin-bottom: 5px;
    line-height: initial;
    align-items: center;
}