#show-all-btn{
    color: green !important;
    margin-right: 20px;
}

#hidden-all-btn{
    color: green !important;
    margin-right: 20px;
}

#show-detail-btn{
    margin-right: 100px;
    color: #003399 !important;
}

.filter-address{
    margin-right: 10px;
}

#ext-panel{
    width: 980px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.show-btn{
    width: fit-content;
}

.hidden-btn{
    width: fit-content;
    position: absolute;
    z-index: 10;
    right: -80px;
}

#ext-panel{
    border: 2px groove #ddd;
    padding: 10px 10px;
    background-color: floralwhite;
    border-radius: 5px;
}

#ext-panel-title{
    font-size: initial;
    padding-bottom: 10px;
}

#hidden-detail{
    border: 1px groove #ddd;
    margin: 10px 0px;
    padding: 10px;
}

.show-item{
    display: grid;
    grid-template-columns: 70px 32% 50% 15%;
    margin-bottom: 5px;
    line-height: initial;
}